.TabBox {
    height: 800rpx;
    width: 100%;
    background-color: rgba(250, 250, 241, 0.8);
    border-radius: 7px 7px 0 0;
    .Tab {
        display: flex;
        justify-content: center;
        position: relative;
        top: -65rpx;
        text {
            margin-left: 70rpx;
            margin-right: 70rpx;
        }
    }
    .monster-link-box {
        margin: 20rpx 0 0 80rpx;
        li {
            margin-top: 20rpx;
            color: rgba(176, 130, 3, 0.6);
            font-size: 30rpx;
        }
        li:first-child {
            font-size: 38rpx;
            color: black;
        }
    }
}

.active {
    color: white;
}